@media (max-width: 992px) {
    .menu__list {
        display: none;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0;
        text-align: center;
        border-top: 1px solid #2f3f54;
        z-index: 5;
    }

    .menu__list li {
        margin-left: 0px;
        background-color: #fff;
    }

    .btn__menu {
        display: block;
        width: 40px;
    }

    .menu__list a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #2f3f54;
    }

    .btn__menu div{
        height: 4px;
        background-color: #2f3f54;
        margin-bottom: 7px;
        border-radius: 7px;
    }
}

@media (min-width: 993px) {
    .menu__list {
        display: flex !important;
    }
}