html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 24px;
    color: #4a6385;
    font-size: 14px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-top: 1px solid #3882e5;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 87px;
}

.menu__list{
    display: flex;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.menu__list li{
    margin-left: 38px;
}

.menu__list a{
    font-size: 14px;
    color: #2f3f54;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.top {
    background-color: #3882e5;
    padding-top: 150px;
    padding-bottom: 180px;
}

.top__inner {
    display: flex;
}

.top-info {
    min-width: 550px;
    margin-right: 35px;
    color: #fff;
}

.top-info__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 52px;
    text-transform: uppercase;
}
.top-info__descr {
    font-size: 19px;
    font-weight: 700;
    line-height: 52px;
}

.top-info__descr span{
    font-size: 14px;
    line-height: 24px;
    display: block;
    font-weight: 400;
    margin-bottom: 35px;
}

.top-info__list {
    list-style: none;
    margin-bottom: 50px;
}

.top-info__list li{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 3px;
    position: relative;
    padding-left: 24px;
}

.top-info__list li::before{
    content: "";
    background-image: url("../images/list-icon.png");
    height: 13px;
    width: 13px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-info__btn {
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #fff;
    padding: 13px 44px;
    border-radius: 30px;
    margin-bottom: 15px;
}


.top-images {
}
.top-images__box {
    position: relative;
}
.top-images__circle {
    width: 230px;
    height: 230px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #212121;
    position: absolute;
    top: -65px;
    right: -60px;
    
}
.top-images__title {
    margin-bottom: 10px;
    text-align: left;
    width: 140px;
}
.top-images__price {
    font-size: 54px;
    font-weight: 700;
    margin-bottom: 5px;
}
.top-images__date {
    text-align: right;
    width: 140px;
}


.price {
    padding: 150px 0 180px;
}

.title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
}

.title span {
    color: #2575e7;
}

.price__descr {
    margin: 35px auto 125px;
    max-width: 594px;
    text-align: center;
}

.price__descr a {
    color: #e74c3c;
}

.price__descr span {
    color: #42d6c1;
}

.price__items {
    display: flex;
}
.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
}
.price-item__number {
}
.prce-item__images {
}
.price-item__title {
}
.price-item__text {
}
.price-item__list {
}
.price-item__btn {
}